
footer{

    background-color: $colorVerde;
    color: $colorFondo;

    li{
        line-height: 40px; 
    }
    p{
        line-height: 10px; 
    } 
}

.footer__content{
    
    color: $colorFondo;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}

footer a{

    text-decoration: none;
    
    
}


.col-3 p{
    margin: 0;
}

.spaceSocialNetworks{
    margin-left: 30px;
    color: $colorFondo;
    
}


.imgLogoFooter{
    width: 100px;
    height: 100px;
    margin:0 auto;
    
}

.footer__copyright{
    color: #FEFDF4;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.font-weight-bold{
    font-style: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    line-height: 50px;  
}

.col-3 p{
    margin: 0;
}

ul{
   
    list-style: none;
    
   .fa-instagram{
    color: $colorFondo;
   }
    
}
.fa-facebook-f{
    color: $colorFondo;
}




