header{

    background-color: $colorVerde;
   
    box-shadow: 0 10px 25px #C4E5E0;
    
}



.header__a{
    color: $colorFondo;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;

    &:hover{
        color: #C4E5E0;
    }
}

ul{
   
    list-style: none;
   
    
}